<main class="bg-white h-100">

  <div class="container col-lg-8 py-3">
    <p class="text-center text-fw-bold text-fz-16px text-dark-gray mt-4 mb-0">Content1</p>
    <%= react_component('HelloWorld',
      {
        props: "Hello World"
      })
    %>
    <p class="text-center text-fw-bold text-fz-16px text-dark-gray mt-4 mb-0">Content2</p>
    <br>
  </div>
</main>
