<div class="container col-lg-8">
  <div class="row">
    <%= render partial: 'races/race_box' %>
    <%= render partial: 'races/race_box' %>
    <%= render partial: 'races/race_box' %>
    <%= render partial: 'races/race_box' %>
  </div>
</div>