<div class="col-6 col-sm-6 col-md-6 col-lg-4 p-2">
  <div class="container bg-gray search-shadow pb-2 rounded h-100">
    <a href=<%= '/horses/1' %> class="hov--default">
      <div class="bg-white">
        <img
          src='/img/orfevre1.svg'
          alt={eventItem.title}
          class="rounded-top w-100 object-fit-cover adjust-box-inner lazyloaded"
        />
      </div>
      <div class="row px-2">
        <p class="text-fw-bold text-center mt-1 mb-1 line-3">
          <%= "オルフェーブル" %>
        </p>
        <p class="mb-0 mt-1 text-fz-small w-100 search-result-event-title">
          父: ステイゴールド
        </p>

        <p class="mt-1 mb-0 line-1 icon icon-area mr-1 text-fz-small w-100 search-result-event-title">
          母: オリエンタルアート
        </p>

        <p class="icon icon-member text-fz-small mt-1 mb-0 w-100 search-result-event-title">
          系統: サンデーサイレンス系
        </p>

        <p class="mb-0 mt-1 line-1 text-fz-xs text-gray search-result-event-title">
          生誕: 2008/05/14（14歳)
        </p>
      </div>
    </a>
  </div>
</div>