<div class="container col-lg-8 py-3">
  <div class="row">
    <%= render partial: 'horses/horse_box' %>
    <%= render partial: 'horses/horse_box' %>
    <%= render partial: 'horses/horse_box' %>
    <%= render partial: 'horses/horse_box' %>
  </div>
</div>