<div class="col-6 col-sm-6 col-md-6 col-lg-4 p-2">
  <div class="container bg-gray search-shadow pb-2 rounded h-100">
    <a href=<%= '/courses/1' %> class="hov--default">
      <div class="bg-white">
        <img
          src='/img/chukyo_padock.svg'
          alt={eventItem.title}
          class="rounded-top w-100 object-fit-cover adjust-box-inner lazyloaded"
        />
      </div>
      <div class="row px-2">
        <p class="text-fw-bold text-center mt-1 mb-1 line-3">
          <%= "中京競馬場" %>
        </p>
      </div>
    </a>
  </div>
</div>