<% if !@is_hidden_footer %>
  <footer id="footer" class="footer pt-5 border-top" style="padding-bottom: 150px;">
    <div class="container pb-5 col-md-6 col-lg-6">

      <%
=begin%>
 <div class="mb-5">
        <a href="https://twitter.com/tunagate" class="d-inline-block mr-4" target="_blank"><img src="/aseets2019/img/icon_footer_twitter.svg" alt=""></a>
        <a href="https://ja-jp.facebook.com/tunagate" class="d-inline-block" target="_blank"><img src="/aseets2019/img/icon_footer_facebook.svg" alt=""></a>
      </div> 
<%
=end%>

      <h2 class="h2 h2--extend h2--extend--noicon">『KeibaApp』について</h2>
      <ul class="nav flex-column">

        <li class="nav-item"><a href="<%= "/users/sign_up?rurl=#{CGI.escape(request.fullpath)}"%>" class="nav-link pl-0 nav-link--gray">新規登録</a></li>
        <li class="nav-item"><a href="<%= "/users/sign_in?rurl=#{CGI.escape(request.fullpath)}"%>"class="nav-link pl-0 nav-link--gray">ログイン</a></li>

        <li class="nav-item"><a href="https://tunagate.com/article/faq-inquiry" class="nav-link pl-0 nav-link--gray">よくある質問・お問い合わせ</a></li>
      </ul>
    </div>
  </footer>
<% end %>